<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="icon" href="/img/LogoTacosDeGuisado.jpg" type="img">

    <title>Admin</title>
</head>

<body>
    <header>
        <h1><a href="/user/logout">Salir</a></h1>
        <h2 class="modificar"><a href="/user/admin">Modificar Menu</a></h2>
        <h2 class="modificar"><a href="">Modificar Menu Bebidas</a></h2>
        <h3>Usuario: <%= user.charAt(0).toUpperCase() + user.slice(1) %>
        </h3>
        <!--charAt(0).toUpperCase toma la primera letra y la hace mayuscula, slice(1) muestra todo apartir de la posicion [1] del string-->
    </header>

    <div class="container">
        <div class="header-carta">
            <h2 class="titulo-carta">Menu de Bebidas</h2>
            <form action="/user/admin/agregar-bebida" method="POST" class="form-agregar">
                <input type="text" name="nombre" placeholder="Nombre de la Bebida" required>
                <input type="text" name="precio" placeholder="Precio" required>
                <button type="submit" class="boton-agregar">Agregar nueva Bebida</button>
            </form>
        </div>

        <div class="container-menu">
            <% if (bebidas && bebidas.length> 0) { %>
                <% bebidas.forEach(bebida=> { %>
                    <div class="platillos">
                        <div class="descripcion-taco">
                            <h3>
                                <%= bebida.nombre %>
                            </h3>
                            <h2>
                                <%= bebida.precio %> $
                            </h2>
                        </div>
                        <div class="botones">
                            <form action="/user/admin/eliminar-bebida" method="POST">
                                <input type="hidden" name="id" value="<%= bebida.id %>">
                                <button type="submit" class="boton-eliminar">Eliminar</button>
                            </form>
                            <form action="/user/admin/editar-bebida/<%= bebida.id %>" method="GET" style="margin:0;">
                                <button type="submit" class="boton-modificar">Modificar</button>
                            </form>
                        </div>
                    </div>
                    <% }) %>
                        <% } %>
        </div>
    </div>
</body>

</html>